<?xml version="1.0"?>
<robot name="boxbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="use_ros2_control" default="true"/>

  <!-- Core robot -->
  <xacro:include filename="$(find description)/urdf/robot_core.urdf.xacro"/>

  <!-- Gazebo-only -->
  <xacro:if value="$(arg use_gazebo)">
    <xacro:include filename="$(find description)/urdf/gazebo.urdf.xacro"/>
  </xacro:if>

  <!-- ros2_control-only -->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find description)/urdf/ros2_control.urdf.xacro"/>
  </xacro:if>

</robot>
