<?xml version="1.0"?>
<robot name="boxbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===== Parameters ===== -->
  <xacro:property name="base_size" value="0.5 0.3 0.1"/>   <!-- x y z -->
  <xacro:property name="base_mass" value="5.0"/>
  <xacro:property name="wheel_radius" value="0.10"/>

  <!-- ==== Colors ==== -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>

  <!-- ===== Base Link ===== -->
  <link name="base_link">
  </link>

  <!-- ===== Chassis ===== -->
  <link name="chassis_link">
    <visual>
      <geometry>
        <box size="${base_size}"/>
      </geometry>
      <material name="gray"/>
    </visual>

    <collision>
      <geometry>
        <box size="${base_size}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${base_mass}"/>
      <origin xyz="0 0 0"/>
      <!-- crude but acceptable box inertia -->
      <inertia
        ixx="0.05" iyy="0.08" izz="0.1"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
  </joint>

  <!-- ===== Lidar Link ===== -->
  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
    </visual>
  </link>

  <!-- Fixed joint mounting lidar on top -->
  <joint name="lidar_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.075" rpy="0 0 0"/>
  </joint>

  <!-- ===== Wheels ===== -->
  <link name="left_wheel_link">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="0.02"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="left_wheel_joint" type="continuous">
    <parent link="chassis_link"/>
    <child link="left_wheel_link"/>
    <origin xyz="0.2 0.16 0.0" rpy="-${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="right_wheel_link">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="0.02"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="right_wheel_joint" type="continuous">
    <parent link="chassis_link"/>
    <child link="right_wheel_link"/>
    <origin xyz="0.2 -0.16 0" rpy="-${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Caster wheel -->
  <link name="caster_wheel_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="caster_wheel_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="caster_wheel_link"/>
    <origin xyz="-0.2 0.0 -0.05" rpy="0 0 0"/>
  </joint>

  <!-- Camera -->
  <link name="camera_base_link">
    <visual>
      <origin xyz="0 0.02 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Base.stl" scale="0.002 0.002 0.002"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0 0.02 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Base.stl" scale="0.002 0.002 0.002"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="camera_base_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="camera_base_link"/>
    <origin xyz="0.2 -0.05 0.04" rpy="0 0 ${pi/2}"/>
  </joint>

  <link name="camera_body_link">
    <visual>
      <origin xyz="0 0.03 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Body.stl" scale="0.002 0.002 0.002"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0 0.03 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Body.stl" scale="0.002 0.002 0.002"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.005"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="camera_body_joint" type="revolute">
    <parent link="camera_base_link"/>
    <child link="camera_body_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="0.25" velocity="11.0"/>
    <dynamics damping="0.02" friction="0.0"/>
  </joint>

  <link name="camera_head_link">
    <visual>
      <origin xyz="0.0 0.08 -0.095"/> 
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Head.stl" scale="0.002 0.002 0.002"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.08 -0.095"/> 
      <geometry>
        <mesh filename="file://$(find description)/meshes/visual/ServoCam_Head.stl" scale="0.002 0.002 0.002"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.005"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="camera_head_joint" type="revolute">
    <parent link="camera_body_link"/>
    <child link="camera_head_link"/>
    <origin xyz="0.0 -0.05 0.095" rpy="${pi/2} 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.57" upper="1.57" effort="0.25" velocity="11.0"/>
    <dynamics damping="0.02" friction="0.0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.005 0.04 0.04"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.005 0.04 0.04"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.005"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
  <joint name="camera_joint" type="fixed">
    <parent link="camera_head_link"/>
    <child link="camera_link"/>
    <origin xyz="0.0 0.01 0.0215" rpy="-${pi/2} -${pi/2} 0"/>
  </joint>

  <link name="camera_optical_link"/>
  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0 -${pi/2}"/>
  </joint>

  <!-- ===== IMU ===== -->
  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.001" iyy="0.001" izz="0.001"
        ixy="0.0" ixz="0.0" iyz ="0.0"/>
    </inertial>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
  </joint>

</robot>